.places {
  margin: 92px 48px 0 48px;
}

@media screen and (min-width: 1280px) {
  .places {
    margin: 92px 148px 0 148px;
  }
}

@media screen and (max-width: 950px) {
  .places {
    margin: 88px 24px 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .places {
    margin: 64px 0 0 0;
  }
}