.cover {
  background-image: url("../../images/cover-trains.jpg");
  background-size: cover;
  background-position: center;
  margin: 92px auto 0 auto;
  position: relative;
  max-width: 1024px;
}

 @media screen and (min-width: 1280px) {
  .cover {
    margin: 92px 48px 0 48px;
    max-width: 1184px;
  }
}

@media screen and (max-width: 950px) {
  .cover {
    margin: 90px auto 0 auto;
    max-width: 768px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    margin: 66px auto 0 auto;
    max-width: 320px;
  }
}